---
import { sortPosts } from "@utils/sort";
import type { Page } from "@utils/models/page.interface";
import { getCollection, type CollectionEntry } from "astro:content";
import PostCard from "@components/PostCard.astro";
import Pagination from "@components/Pagination.astro";
import MainLayout from "@layouts/MainLayout.astro";

export async function getStaticPaths({ paginate }: any) {
  const posts = sortPosts(await getCollection("blog"));
  return paginate(posts, { pageSize: 5 });
}

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<MainLayout
  title="Blog"
  description="Sigue en mi blog personal para aprender temas de programación, tips, econoía, etc. No te lo pierdas!"
>
  <section>
    <h1 class="text-3xl font-semibold md:text-4xl">Blog</h1>
    <ul class="mt-10 flex flex-col gap-3">
      {
        page.data.map((post) => (
          <li>
            <PostCard post={post} />
          </li>
        ))
      }
    </ul>
    {
      page.total > page.size && (
        <div class="mt-8 flex justify-center md:mt-12">
          <Pagination
            firstPage={page.currentPage !== 1 ? "/blog" : null}
            previousPage={
              page.url.prev
                ? page.url.prev === "1"
                  ? '"/blog"'
                  : page.url.prev
                : null
            }
            nextPage={page.url.next ? page.url.next : null}
            lastPage={
              page.currentPage === page.lastPage
                ? null
                : `/blog/${page.lastPage}`
            }
            currentPage={page.currentPage}
            totalPages={page.lastPage}
          />
        </div>
      )
    }
  </section>
</MainLayout>
