---
import NavigationCard from "@components/markdown/NavigationCard.astro";
import CollectionIcon from "@components/icons/CollectionIcon.astro";
import Title from "@components/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { capitalize, slug } from "@utils/utils";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const collections = [
  ...new Set(posts.map((post) => post.data.collection)),
].filter((collection) => collection !== undefined);
---

<MainLayout
  title="Colecciones de contenido | Uriel Spiridione"
  description="Posts agupados en colecciones"
>
  <section>
    <Title>
      <CollectionIcon class="h-9" slot="icon" />
      Colecciones
    </Title>
    <ul class="mt-10 flex flex-col gap-3">
      {
        collections.map((collection) => (
          <li>
            <NavigationCard
              label={capitalize(collection ?? "")}
              href={`/collections/${slug(collection ?? "")}`}
            />
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
