---
import TagIcon from "@components/icons/TagIcon.astro";
import Title from "@components/Title.astro";
---

<section>
  <Title>
    <TagIcon slot="icon" class="h-9" />
    Categorías
  </Title>
  <p class="mt-8 text-neutral-600 dark:text-neutral-400">Próximamente...</p>
</section>
