---
import TagIcon from "@components/icons/TagIcon.astro";
---

<section>
  <div class="flex items-center gap-2 text-3xl font-semibold md:text-4xl">
    <TagIcon class="h-9" />
    <h2>Categorías</h2>
  </div>
  <p class="mt-8 text-neutral-600 dark:text-neutral-400">Próximamente...</p>
</section>
