---
import Aside from "@components/markdown/Aside.astro";
import NavigationCard from "@components/markdown/NavigationCard.astro";
---

<Aside title="Nota:" type="caution">
  <p>
    Este sitio se encuentra en desarrollo, puedes ver una lista de progreso en
    el siguiente enlace:
  </p>
  <NavigationCard label="Lista de tareas" href="/todo" />
</Aside>
