---
import PostCard from "@components/PostCard.astro";
import LinkButton from "@components/LinkButton.astro";
import { sortPosts } from "@utils/sort";
import { getCollection, type CollectionEntry } from "astro:content";
import Title from "@components/Title.astro";

const posts = sortPosts(await getCollection("blog"), {
  limit: 5,
}) as CollectionEntry<"blog">[];
---

<section>
  <Title>Posteos más recientes</Title>
  <ul class="mt-10 flex flex-col gap-3">
    {
      posts.map((post) => (
        <li>
          <PostCard post={post} />
        </li>
      ))
    }
  </ul>
  <div class="mt-5 flex justify-end md:mx-0">
    <LinkButton href="/blog/1" class="underline">Ver más...</LinkButton>
  </div>
</section>
