---
import TagIcon from "@components/icons/TagIcon.astro";
import Title from "@components/Title.astro";
import { sortPosts } from "@utils/sort";
import { getCollection } from "astro:content";
import LinkButton from "@components/LinkButton.astro";

const posts = sortPosts(await getCollection("blog"));
const tags = [
  ...new Set(posts.map((post) => post.data.tags).flat()),
] as string[];
---

<section>
  <Title>
    <TagIcon slot="icon" class="h-9" />
    Tags
  </Title>
  <ul class="mt-8 flex flex-wrap items-center justify-center gap-3">
    {
      tags.map((tag) => (
        <li>
          <LinkButton
            icon
            class="flex items-center gap-1 border"
            href={`/tag/${tag}`}
          >
            <TagIcon class="inline h-5" />
            <span class="text-sm font-semibold">#{tag}</span>
          </LinkButton>
        </li>
      ))
    }
  </ul>
</section>
