---
import LatestPostList from "@components/LatestPostList.astro";
import Main from "@components/Main.astro";
import SectionHeading from "@components/SectionHeading.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Posts">
  <Main class="mb-40 mt-16 flex flex-col gap-10 sm:mt-24">
    <SectionHeading title="Ups! 404" />
    <p>
      Don't miss the latest posts
      <a
        href="/post"
        class="font-semibold underline decoration-dashed underline-offset-4 hover:opacity-60"
      >
        here
      </a>
      or explore the
      <a
        href="/playground"
        class="font-semibold underline decoration-dashed underline-offset-4 hover:opacity-60"
      >
        playground
      </a>
    </p>
    <div class="flex flex-col gap-3">
      <LatestPostList />
    </div>
  </Main>
</Layout>
