---
import Categories from "@components/sections/Categories.astro";
import Tags from "@components/sections/Tags.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout
  title="Explorar"
  description="Explorar las listas de tags y categorías del blog."
>
  <h1 class="text-5xl font-semibold">Tags y categorías</h1>
  <Tags />
  <Categories />
</MainLayout>
