---
import LatestPostList from "@components/LatestPostList.astro";
import Main from "@components/Main.astro";
import Me from "@components/Me.astro";
import SectionHeading from "@components/SectionHeading.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Blog">
  <Main class="mb-40 mt-16 flex flex-col gap-16 sm:mt-20 sm:gap-24">
    <Me />
    <section>
      <SectionHeading
        title="Posts"
        href="/post"
        linkTitle="See all blog posts"
      />
      <div class="mt-5 flex flex-col gap-3">
        <LatestPostList />
      </div>
    </section>
    <section>
      <SectionHeading
        title="Playground"
        href="/playground"
        linkTitle="See all blog posts"
      />
      <p class="mt-5 text-sm sm:w-3/4">
        Where I can explore concepts, <strong>experiment</strong> with code, and
        build interactive projects to showcase different ideas or concepts.
      </p>
    </section>
  </Main>
</Layout>
<script>
  import { scrambleEffect } from "@utils/scramble";
  const playgroundTitle = document.querySelectorAll("h1")[1];

  const startAnimation: IntersectionObserverCallback = (entries, observer) => {
    entries.forEach((e) => {
      scrambleEffect(e.target, 300);
      if (e.isIntersecting) observer.unobserve(e.target);
    });
  };

  const observer = new IntersectionObserver(startAnimation, {
    root: null,
    rootMargin: "0px",
    threshold: 1,
  });
  observer.observe(playgroundTitle);
</script>
