---
import Layout from "../layouts/Layout.astro";
import AboutHeader from "@components/AboutHeader.astro";
import RecentPosts from "@components/RecentPosts.astro";
import DevelopmentNote from "@components/DevelopmentNote.astro";
---

<Layout
  title="Uriel Spiridione | Blog Personal"
  description="Desarrollador Full-Stack especializado en Angular con entusiasmo por el aprendizaje y la creación de experiencias web únicas y funcionales."
>
  <main class="mx-4 flex w-full max-w-3xl flex-col gap-20 md:mx-8">
    <AboutHeader />
    <RecentPosts />
    <DevelopmentNote />
  </main>
</Layout>
