---
import Main from "@components/Main.astro";
import PostCardLine from "@components/PostCardLine.astro";
import SectionHeading from "@components/SectionHeading.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/sort";
import { getCollection } from "astro:content";

const posts = sortPosts(await getCollection("post"));
---

<Layout title="Posts">
  <Main class="mb-40 mt-16 overflow-hidden sm:mt-24">
    <SectionHeading title="Posts" />
    <div class="mt-5 divide-y divide-neutral-300 dark:divide-neutral-800">
      {
        posts.map((post) => (
          <PostCardLine post={post} href={`/post/${post.slug}`} />
        ))
      }
    </div>
  </Main>
</Layout>
