---
import Main from "@components/Main.astro";
import PostCardLine from "@components/PostCardLine.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/sort";
import { getCollection } from "astro:content";

const posts = sortPosts(await getCollection("post"));
---

<Layout title="Posts">
  <Main class="mt-10">
    <div class="mb-6 mt-14">
      <h2 class="font-mono text-3xl font-semibold">Posts</h2>
    </div>
    <div class="divide-y divide-neutral-300 dark:divide-neutral-800">
      {
        posts.map((post) => (
          <PostCardLine post={post} href={`/post/${post.slug}`} />
        ))
      }
    </div>
  </Main>
</Layout>
