---
import FormattedDate from "@components/FormattedDate.astro";
import PostTags from "@components/PostTags.astro";
import ShareLinks from "@components/ShareLinks.astro";

interface Props {
  title: string;
  description?: string;
  tags?: string[];
  date?: Date;
  hideLinks?: boolean;
}
const { title, description, tags, date, hideLinks = false } = Astro.props;
---

{
  (tags || date) && (
    <div class="mb-2 flex items-center gap-2 text-sm font-semibold text-neutral-400">
      {date && <FormattedDate date={date} />}
      {date && tags && <span>|</span>}
      {tags && <PostTags tags={tags} />}
    </div>
  )
}
<h1 class="mb-3 text-3xl font-bold md:text-4xl">{title}</h1>
{
  description !== undefined && (
    <p class="mb-3 text-sm font-semibold text-neutral-500 dark:text-neutral-400 sm:text-base">
      {description}
    </p>
  )
}
{
  !hideLinks && (
    <aside class="flex items-center justify-end gap-2" data-pagefind-ignore>
      <span class="text-sm font-semibold text-neutral-500 dark:text-neutral-400">
        Comparte:
      </span>
      <ShareLinks />
    </aside>
  )
}
