---
import { Image } from "astro:assets";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import XTwitterIcon from "./icons/XTwitterIcon.astro";
import LinkButton from "./new/LinkButton.astro";

const links = [
  {
    href: "https://www.linkedin.com/in/urielspiridione/",
    title: "Linkedin page",
    icon: LinkedinIcon,
  },
  {
    href: "https://x.com/UrielSpiridione/",
    title: "X/Twitter page",
    icon: XTwitterIcon,
  },
  {
    href: "https://github.com/USpiri/",
    title: "Github profile",
    icon: GithubIcon,
  },
];
---

<section
  class="flex flex-col justify-between gap-5"
  transition:name="about-header"
>
  <Image
    src="/profile-min.jpg"
    alt="Uriel Spiridione profile"
    width="150"
    height="150"
    class="rounded-full border-4 border-cyan-500"
  />
  <div class="flex flex-col gap-2">
    <div>
      <span
        class="text-sm font-semibold text-neutral-500 dark:text-neutral-400 md:text-base"
        >Full stack web developer</span
      >
      <h1 class="text-5xl font-semibold md:text-6xl">Uriel Spiridione</h1>
    </div>
    <h2 class="text-lg font-medium text-cyan-500 md:text-xl">Blog personal</h2>
  </div>
  <div class="flex gap-3">
    {
      links.map((link) => (
        <LinkButton
          href={link.href}
          title={link.title}
          icon
          style="outline"
          aria-label={link.title}
        >
          <link.icon class="h-5" />
        </LinkButton>
      ))
    }
  </div>
</section>
