---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  class?: string;
}
const { class: className } = Astro.props;
---

<button
  class={`p-1 rounded-md hover:bg-neutral-400/10 transition-all hover:scale-105 active:scale-90 ${className}`}
  {...Astro.props}
>
  <slot />
</button>
