---
import type { HTMLAttributes } from "astro/types";
import FormattedDate from "./FormattedDate.astro";

interface Props extends HTMLAttributes<"a"> {
  id: string;
  title: string;
  date: Date;
}

const { title, date, id, ...props } = Astro.props;
---

<a
  class="group flex gap-3 rounded-md px-2 text-sm transition-all hover:scale-[101%] hover:bg-neutral-400/10 md:text-base"
  {...props}
>
  <span
    class="whitespace-nowrap font-medium text-neutral-500 group-hover:text-cyan-500 dark:text-neutral-400"
  >
    <FormattedDate date={date} />
  </span>
  <span>-</span>
  <h3 class="font-semibold" transition:name={`post-${id}`}>{title}</h3>
</a>
