<footer class="mx-auto max-w-3xl text-center font-mono text-sm">
  <a
    href="https://uspiri.com/"
    target="_blank"
    class="inline-block bg-gradient-to-r from-neutral-400 to-neutral-400 bg-clip-text font-semibold text-transparent hover:text-neutral-600 dark:from-neutral-600 dark:to-neutral-600 dark:hover:text-neutral-400"
  >
    uspiri.com
  </a>
</footer>
