---
import { cn } from "@utils/cn";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<main class={cn("mx-auto w-full max-w-3xl px-5 sm:px-8", className)}>
  <slot />
</main>
