<div class="flex flex-col text-sm">
  <p>I'm <span class="text-base font-semibold">Uriel Spiridione</span></p>
  <p>
    A fullstack web developer from Argentina with +3 years of experience on
    front-end development.
  </p>
</div>
