---
import ThemeButton from "./ThemeButton.astro";

const currentPath = Astro.url.pathname.split("/")[1];
---

<nav
  class="sticky top-0 z-10 mx-auto flex w-full max-w-3xl items-center justify-between bg-stone-200 px-5 py-7 dark:bg-[#121212] sm:px-8"
>
  <div class="inline text-sm font-extrabold">
    <a
      href="/"
      class="hover:text-neutral-400 dark:hover:text-neutral-500"
      title="Home page"
    >
      <span class="font-bold">δ</span><span class="font-mono">./uspiri</span>
    </a>
    {
      currentPath.length > 0 && (
        <a
          href={`/${currentPath}`}
          class="hover:text-neutral-400 dark:hover:text-neutral-500"
          title={`${currentPath} page`}
        >
          <span class="font-mono">/{currentPath}</span>
        </a>
      )
    }
  </div>
  <ThemeButton />
</nav>
