---
import ThemeButton from "./ThemeButton.astro";
---

<nav
  class="sticky top-0 mx-auto flex w-full max-w-4xl items-center justify-between px-8 py-5"
>
  <a
    href="/"
    class="font-semibold transition-colors hover:text-neutral-950 dark:hover:text-neutral-50"
  >
    <span class="font-mono">δ./uspiri</span>
  </a>
  <ThemeButton />
</nav>
