---
interface Props {
  href: string;
  title: string;
}
const { href, title } = Astro.props;
---

<a
  href={href}
  title={title}
  class="block rounded-lg border border-neutral-400 p-2 transition-all hover:scale-110 dark:border-neutral-500"
  target="_blank"
  rel="noopener noreferrer"
>
  <span class="sr-only">{title}</span>
  <slot />
</a>
