---
import LinkButton from "@components/LinkButton.astro";
import FirstPageIcon from "@components/icons/FirstPageIcon.astro";
import LastPageIcon from "@components/icons/LastPageIcon.astro";
import NavigationNextIcon from "@components/icons/NavigationNextIcon.astro";
import NavigationPrevIcon from "@components/icons/NavigationPrevIcon.astro";
// Pagination Props type helpers
export type NumericalString = `${number}`;
export type RouteString = string | null | undefined;

interface Props {
  firstPage?: RouteString;
  previousPage?: RouteString;
  nextPage?: RouteString;
  lastPage?: RouteString;
  currentPage?: string | number;
  totalPages?: NumericalString | number;
}

const {
  firstPage = null,
  previousPage = null,
  nextPage = null,
  lastPage = null,
  currentPage = null,
  totalPages = null,
} = Astro.props;

const links = [
  { href: firstPage, Icon: FirstPageIcon },
  { href: previousPage, Icon: NavigationPrevIcon },
  null,
  { href: nextPage, Icon: NavigationNextIcon },
  { href: lastPage, Icon: LastPageIcon },
];

const correctElement = (exists: boolean) => (exists ? LinkButton : "div");
---

<nav class="flex flex-row items-center gap-1" transition:name={`pagination`}>
  {
    links.map((link) => {
      if (!link)
        return (
          <p class="mx-5 text-sm font-medium sm:text-base">
            Página {currentPage} de {totalPages}
          </p>
        );
      const { href, Icon } = link;
      const Element = correctElement(href !== null);
      return (
        <Element {href} aira-label="Go to the first page" icon style="sm">
          <Icon
            class={`h-6 w-6 ${!href && "fill-neutral-200 dark:fill-neutral-600"}`}
          />
        </Element>
      );
    })
  }
</nav>
