---
import TagIcon from "./icons/TagIcon.astro";

interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<a
  href={`/tag/${tag}`}
  title={`#${tag}`}
  class="flex items-center gap-1 rounded border border-neutral-400/80 px-1.5 py-1 font-mono text-xs font-medium capitalize text-neutral-600 hover:text-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-neutral-300"
>
  <TagIcon class="h-3.5 w-3.5" />
  {tag}
</a>
