---
import Button from "@components/Button.astro";
import ShareIcon from "@components/icons/ShareIcon.astro";
---

<Button style="outline" icon id="share">
  <ShareIcon class="h-5" />
</Button>

<script>
  function share() {
    const share = document.querySelector("#share");
    share?.addEventListener("click", () => {
      if (navigator.share) {
        navigator.share({
          title: `${document.title}`,
          url: window.location.href,
        });
      } else {
        alert("Sharing is not available in this browser.");
      }
    });
  }
  share();
  document.addEventListener("astro:after-swap", share);
</script>
