---
import Button from "./Button.astro";
import ShareIcon from "./icons/ShareIcon.astro";
---

<Button
  class="flex items-center fill-neutral-500 p-1 hover:fill-cyan-500"
  id="share"
>
  <ShareIcon class="h-5 w-5" />
</Button>

<script>
  function share() {
    const share = document.querySelector("#share");
    share?.addEventListener("click", () => {
      if (navigator.share) {
        navigator.share({
          title: `🖥️ ${document.title}`,
          url: window.location.href,
        });
      } else {
        alert("Sharing is not available in this browser.");
      }
    });
  }
  share();
  document.addEventListener("astro:after-swap", share);
</script>
