---
import ShareIcon from "./icons/ShareIcon.astro";
---

<button
  class="flex items-center rounded-lg border border-neutral-400 p-2 transition-all hover:scale-110 dark:border-neutral-500"
  id="share"
>
  <ShareIcon class="h-5 w-5 fill-neutral-600 dark:fill-neutral-200" />
</button>

<script>
  function share() {
    const share = document.querySelector("#share");
    share?.addEventListener("click", () => {
      if (navigator.share) {
        navigator.share({
          title: `🖥️ ${document.title}`,
          url: window.location.href,
        });
      } else {
        alert("Sharing is not available in this browser.");
      }
    });
  }
  share();
  document.addEventListener("astro:after-swap", share);
</script>
