---
import PostCard from "@components/PostCard.astro";
import TagIcon from "@components/icons/TagIcon.astro";
import Title from "@components/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { sortPosts } from "@utils/sort";
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = (async () => {
  const blogPosts = sortPosts(await getCollection("blog"));
  const tags = [
    ...new Set(blogPosts.map((post) => post.data.tags).flat()),
  ] as string[];
  return tags.map((tag) => {
    const posts = [...blogPosts].filter((post) =>
      post.data.tags?.includes(tag),
    );
    return {
      params: {
        tag: tag,
      },
      props: {
        posts,
      },
    };
  });
}) satisfies GetStaticPaths;

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<MainLayout title={tag} description={`Posts referidos a #${tag}`}>
  <section>
    <Title>
      <TagIcon class="h-9" slot="icon" />
      #{tag}
    </Title>
    <ul class="mt-10 flex flex-col gap-3">
      {
        posts.map((post) => (
          <li>
            <PostCard post={post} />
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
