---
import Layout from "@layouts/Layout.astro";
import Main from "@components/Main.astro";
import PostCardLine from "@components/PostCardLine.astro";
import { getCollection } from "astro:content";
import { sortPosts } from "@utils/sort";

export const getStaticPaths = async () => {
  const posts = sortPosts(await getCollection("post"));
  const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return tags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
};

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`#${tag}`}>
  <Main class="mb-40 mt-10 overflow-hidden">
    <div class="mb-6 mt-14">
      <h2 class="font-mono text-3xl font-semibold capitalize">#{tag}</h2>
    </div>
    <div class="divide-y divide-neutral-300 dark:divide-neutral-800">
      {
        posts.map((post) => (
          <PostCardLine post={post} href={`/post/${post.slug}`} />
        ))
      }
    </div>
  </Main>
</Layout>
