---
import Main from "@components/Main.astro";
import Layout from "./Layout.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <Main class="mb-48 mt-32 overflow-hidden sm:mt-40" as="div">
    <slot />
  </Main>
</Layout>
