---
import NavigationCard from "@components/NavigationCard.astro";
import CodeblockIcon from "@components/icons/CodeblockIcon.astro";
import Title from "@components/new/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { capitalize } from "@utils/utils";
import { getCollection } from "astro:content";

const snippets = await getCollection("snippet");
const langs = [
  ...new Set(snippets.map((snippet) => snippet.data.lang)),
] as string[];
---

<MainLayout
  title="Snippets"
  description="Fragmentos de código de distintos lenguajes de programación o extensiones de los posteos del blog"
>
  <section>
    <Title>
      <CodeblockIcon class="h-9" slot="icon" />
      Code snippets
    </Title>
    <p class="mt-8 text-neutral-600 dark:text-neutral-400">
      Fragmentos de código de distintos lenguajes de programación utilizados
      para ilustrar o proporcionar ejemplos sobre un código en particular.
      Agrupados por lenguaje de programación.
    </p>
    <p class="mt-4 text-neutral-600 dark:text-neutral-400">
      También sirven como extensiones de los articulos publicados en el
      <a href="/blog" class="font-semibold underline">Blog</a>
    </p>
    <ul class="mt-10 flex flex-wrap gap-3">
      {
        langs.map((lang) => (
          <li class="flex-[1_0_40%]">
            <NavigationCard
              label={capitalize(lang)}
              href={`/snippet/${lang}`}
            />
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
